<hr class="featurette-divider">
<!-- FOOTER -->
<div id="footer">
    <div class="container">
        <p class="text-muted text-center credit">
            &middot;
            <a class="btn btn-xs btn-info" href="/donate">Donate</a>
            &middot;
            <a href="https://www.facebook.com/pages/Friends-of-Burma-Inc/533976606619004?ref=eyJzaWQiOiIwLjU4ODQ2MTk1ODMzNzU3NTIiLCJxcyI6IkpUVkNKVEl5Um5KcFpXNWtjeVV5TUc5bUpUSXdRblZ5YldFbE1rTWxNakJKYm1NbE1qSWxOVVEiLCJndiI6Ijk0YWQwYTU1MTZkN2E4ZDdhOGFlZmIyZjgzYWFmMmU4ZTQyNGIyNTYifQ"  target="_blank"><img alt="Facebook" src="/static/img/icons/facebook.png" height="24"/></a>
            &middot;
            <a href="http://blog.friendsofburma.org" target="_blank"><img alt="Blog" src="/static/img/icons/blog.png" height="24"/></a>
        </p>
    </div>
</div>
