<!-- FOOTER -->
<div id="footer">
    <div class="container">
        <div class="footer-menu">
            <!-- Desktop Menu -->
            <div class="footer-menu-desktop d-none d-md-block">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="footer-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/ministries">Ministries</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="footer-nav">
                            <li><a href="/newsletters">Newsletters</a></li>
                            <li><a href="/annualreports">Annual Reports</a></li>
                            <li><a href="/resources">Resources</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="footer-nav">
                            <li><a href="https://blog.friendsofburma.org">Blog</a></li>
                            <li><a href="/donate">Donate</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-social">
                            <a href="https://www.facebook.com/pages/Friends-of-Burma-Inc/533976606619004"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="http://blog.friendsofburma.org"><i class="fa-solid fa-blog"></i></a>
                            <a href="/subscribe/"><i class="fa-solid fa-envelope"></i></a>
                        </div>
                        <div class="footer-address">
                            <p>
                                Friends of Burma, Inc.<br/>
                                548 Home Ave.<br/>
                                Fort Wayne, IN 46807<br/>
                                (260) 745-3658<br/>
                                president@friendsofburma.org<br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <p class="text-muted text-center credit mt-3">
            &copy; 2025 Friends of Burma, Inc.
        </p>
        -->
    </div>
</div>

<style>
#footer {
    background-color: #000;
    padding: 40px 0 20px 0;
    margin-top: 50px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav li {
    margin-bottom: 8px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.footer-nav a:hover {
    color: #ccc;
    text-decoration: underline;
}

.footer-social a {
    color: #fff;
    margin-right: 15px;
    font-size: 1.2em;
}

.footer-social a:hover {
    color: #ccc;
}

.footer-address {
    margin-top: 20px;
}

.footer-address p {
    color: #ccc;
    font-size: 0.9em;
    line-height: 1.4;
    margin: 0;
}

.credit {
    color: #ccc !important;
}
</style>
