<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">FOB</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li {% if page.link == 'about' %}class="active"{% endif %}>
                            <a href="/about">About</a>
                        </li>
                        <li class="dropdown {% if page.link == 'ministries' %}active{% endif %}">
                            <a href="/ministries" class="dropdown-toggle" data-toggle="dropdown">
                                Ministries<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/ministries">Who we support</a></li>
                                <li><a href="/howwehelp">How we help</a></li>
                                <li><a href="/testimonials">Testimonials</a></li>
                            </ul>
                        </li>
                        <li class="dropdown {% if page.link == 'newsletters' %}active{% endif %}">
                            <a href="/newsletters" class="dropdown-toggle" data-toggle="dropdown">
                                Newsletters<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/newsletters">Newsletters</a></li>
                                <li><a href="/annualreports">Annual Reports</a></li>
                            </ul>
                        </li>
                        <li {% if page.link == 'resources' %}class="active"{% endif %}>
                            <a href="/resources">Resources</a>
                        </li>
                        <li {% if page.link == 'donate' %}class="active"{% endif %}>
                            <a href="/donate">Donate</a>
                        </li>
                        <li class="dropdown {% if page.link == 'contact' %}class="active"{% endif %}">
                            <a href="/contact" class="dropdown-toggle" data-toggle="dropdown">
                                Contact<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="http://blog.friendsofburma.org">Blog &nbsp; <i class="fa-solid fa-blog"></i></a></li>
                                <li>
                                    <a href="https://www.facebook.com/Friends-of-Burma-Inc-533976606619004/">
                                        Facebook &nbsp; <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
